<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
    <grids>
        <grid>
            <service_manager>
                http://eldrad.cs-i.brandeis.edu:8080/service_manager/
            </service_manager>
            <!--<grid_id>-->
            <!--brandeis_eldrad_grid_1-->
            <!--</grid_id>-->
        </grid>
        <grid>
            <service_manager>
                http://grid.anc.org:8080/service_manager/
            </service_manager>
            <!--<grid_id>-->
            <!--anc-->
            <!--</grid_id>-->
        </grid>
    </grids>
    <connection>
        <timeout>3</timeout>
        <proxies>
            <http_proxy>165.225.96.34:10015</http_proxy>
            <use_proxy>false</use_proxy>
        </proxies>
        <credentials>
            <use_credential>true</use_credential>
            <credential host="eldrad.cs-i.brandeis.edu" port="8080">
                <username>tester</username>
                <password>tester</password>
            </credential>
        </credentials>
    </connection>
</config>
